<script type="text/javascript">
$(document).ready(function() {
    $('.datepicker').datepicker();
})
</script>

<div class="row"><div class="col-md-12">
  <div class="hero">
    <h3><span>Todo一覧</span></h3>
  </div>
  表示内容を変更する：
  <% if params[:finished] %>
    <strong><%= link_to '終ってないタスク', todos_url %></strong>&nbsp;&nbsp;
  <% else %>
    <strong><%= link_to '終ったタスク', todos_url(finished: true) %></strong>&nbsp;&nbsp;
  <% end %>
  <br><br>

  <div class="contact">
    <div class="cwell">
    <%= form_for(@todo, :html => {"data-bind" => "submit: addTodo", class: 'form-inline'}, remote: true) do |f| %>
      <div class="input-group">
        <%= f.select(:tag_id, @tags.map{|t| [t.name,  t.id] }, {prompt: "タグ選択"}, {class: 'form-control_select', 'data-bind' => "value: newTodoTag"}) %>
      </div>
      <div class="input-group">
        <%= f.text_field :detail, class: 'form-control', placeholder: 'しなきゃいけないこと', "data-bind" => "value: newTodoDetail" %>
        <span class="input-group-btn">
          <%= f.submit('作成!', class: 'btn btn-default') %>
          <%# <%= f.submit('作成!', class: 'btn btn-default', 'data-bind' => "enable: newTodoDetail") %>
        </span>
      </div>
    <% end %>
    </div>
  </div>
  <br>
  <div class="career">
    <div class="tabbable tabs-left">
       <!-- Tabs -->
      <ul class="nav nav-tabs">
        <li class="active"><a href="#all" data-toggle="tab">全て</a></li>
        <% @tags.each do |t| %>
          <li><a href="#tab<%= t.id %>" data-toggle="tab"><%= t.name %></a></li>
        <% end %>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="all">
          <%= render 'todos', {tag_id: 'all', tag_name: 'all'} %>
        </div>
        <% @tags.each do |t| %>
        <div class="tab-pane" id="tab<%= t.id %>">
          <%= render 'todos', {tag_id: t.id, tag_name: t.name} %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div></div>
<br>
