<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @todo.user_id %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @todo.detail %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @todo.tag_id %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @todo.priority %>
</p>

<p>
  <strong>End date:</strong>
  <%= @todo.end_date %>
</p>

<p>
  <strong>Deleted:</strong>
  <%= @todo.deleted %>
</p>

<%= link_to 'Edit', edit_todo_path(@todo) %> |
<%= link_to 'Back', todos_path %>
